# -------------------------------
# Dependency directories
# -------------------------------
/node_modules
.pnpm
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# -------------------------------
# Output directories
# -------------------------------
/dist
/.next
/build
/out
/.turbo

# -------------------------------
# Logs & Debug
# -------------------------------
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.pids
*.pid
*.pid.lock
*.seed

# -------------------------------
# Testing
# -------------------------------
/coverage
/.nyc_output

# -------------------------------
# TypeScript
# -------------------------------
*.tsbuildinfo
next-env.d.ts

# -------------------------------
# Environment variables
# -------------------------------
.env
.env.*
!.env.example

# -------------------------------
# IDEs & Editors
# -------------------------------
# JetBrains
.idea/
*.iml

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# -------------------------------
# OS & Misc
# -------------------------------
.DS_Store
*.pem
.temp
.tmp

# -------------------------------
# Node diagnostic reports
# -------------------------------
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json